* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#tab-menu {
    margin: 30px;
    width: 80px;
}

#tab-menu>ul {
    color: white;
    text-align: center;
    display: flex;
    list-style: none;
}

#tab-menu>ul div {
    padding: 10px;
    width: 120px;
    border: solid 1px grey;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}

#tab-menu>ul div {
    background-color: skyblue;
}

#menu1:checked~ul>li#list1 div,
#menu2:checked~ul>li#list2 div,
#menu3:checked~ul>li#list3 div {
    background-color: skyblue;
}

input[type="radio"] {
    display: none;
}

p {
    padding: 30px;
    display: none;
    width: 364px;
    border: solid 1px gray;
}

#menu1:checked~#html,
#menu2:checked~#css,
#menu3:checked~#js {
    display: block;
}