/* 
모든 엘리먼트 들은 html 배치 설정값을 기본으로 가지고 있다

display 속성의 종류
1) block            : 크기변경 가능(width, height, margin, padding)
2) inline           : 크기변경 불가
3) inline-block     : 크기변경 가능한 inline 배치
4) flex
5) grid

/*  */

*/

h1 {
    display: inline-block;
    height: 200px;
}

#root {
    background-color: lightblue;
    width: 300px;
    height: 100px;
    /* 1. margin: 100px ; */
    /* margin: auto; */
    /* 상 하 좌 우 */
    margin:auto ;
    /* 상 우 하 좌 */
    /* 상하   우좌 */
    
}

.box {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: dashed 0.05px black;
    border-radius: 10px;
    text-align: center;
}