* {
    margin: 0;
    padding: 0;
}

/*
모든 엘리먼트들은 position 기본값 static 
 */

 #motal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0,3);
 }

#parent {
    position: relative;
    background-color: lightblue;
    width: 600px;
    /* height: 50vh; */
    margin: 100px auto;
}

.children {
    width: 50px;
    height: 50px;
    border: solid 1px black;
}

#child-1 {
    position: static;
    /*top, bottom, left, right, z-index의 속성을 지정할 수 없음 */
    top: 20px;
    left: 20px;
    background-color: red;
}

#child-2 {
    /* top: 20px;
    left: 20px; */
    /*top, bottom, left, right, z-index의 속성을 지정할 수 있음 */
    /* 원래 요소 자기 자신의 자리를 기준으로 이동 */
    position: relative;
    z-index: 10;
}

#child-3 {
    /* relative, absolute, fixed position을 가진 
    부모 요소를 기준으로 이동(static이면, viewport를 기준으로 이동)
    */
    top: 20px;
    left: 20px;
    position: absolute;
    background-color: blue;
}

#child-4 {
    /* 부모요소의 경계를 기준으로 벗어나지 않고 자리를 유지한다.*/
    position: sticky;
    top: 20px;
    left: 20px;
    background-color: rgba(0,0,0,0,2);
}

#child-5 {
    /* viewport 기준으로 고정된 자리에서 유지 */
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: tomato;
}

/* 
z-index 관리 방법 (값이 높을수록 우선순위가 올라감)

0: 값은 기본 콘텐츠
10~99: 강조되는 콘텐츠(modal 포함)
100~199: 헤더 또는 푸터
200~299: 팝업 콘텐츠
300~999: 풀스크린(화면 전체 영역을 차지하는 modal)

*/