* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-top nav ul,
.header-top ul {
    display: flex;
    list-style: none;
}

.header-top li {
    margin: 0 10px;
}

.header-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bottom {
    display: inline-flex;
    font-weight: bold; 
    margin-top: 20px;
    border-bottom: 2px solid black; 
}

.header-bottom .inner nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header-bottom .inner nav ul li {
    margin: 0 10px;
    font-size: 17px;
}

.text-tv {
    color: red;
}

.date {
    display: inline-flex;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-right: 10px;
}

.hamburger-button,
.search-button {
    width: 30px;
    height: auto;
}

#grid-container {
    display: grid;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "section1 section2 section3"
        "section4 section4 section4"
        "section5 section5 section5"
        "footer footer footer";
    gap: 10px;
}

img {
    width: 100px;
    height: 100px; 
}

#grid-container header {
    grid-area: header;
}

#grid-container section:nth-child(1) {
    grid-area: section1;
    padding: 20px;
    background-color: #f4f4f4;
}

#grid-container section:nth-child(2) {
    grid-area: section2;
    padding: 20px;
    background-color: #f4f4f4;
}

#grid-container section:nth-child(3) {
    grid-area: section3;
    padding: 20px;
    background-color: #f4f4f4;
    
}

#grid-container section:nth-child(4) {
    grid-area: section4;
    padding: 20px;
    background-color: #f4f4f4;
}

#grid-container section:nth-child(5) {
    grid-area: section5;
    padding: 20px;
    background-color: #f4f4f4;
}

#grid-container .sidebar {
    grid-area: sidebar;
    background-color: #e0e0e0;
    padding: 20px;
    display: none;
}

#footer {
    grid-area: footer;
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
}
