@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Noto+Sans+KR:wght@100..900&family=Song+Myung&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
    margin: 100px auto 20px auto;
}

#todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    min-width: 360px;
    max-width: 800px;
    margin: auto;
}

#todo {
    display: flex;
    align-items: center;
    border-bottom: solid 1px tomato;
}

ul {
    list-style: none;
}

li input[type="text"] {
    font-size: 1.1em;
    padding: 20px 15px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    caret-color: tomato;
}

li input[type="text"]:disabled {
    color: tomato;
}

li input[type="checkbox"] {
    display: none;
}

li input[type="checkbox"]:checked ~ label>.check-image {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNV3bAT-Obnno05IQpAV5o7OhH7hiueQ55Hg&s");
}

.check-image {
    background-image: url("https://www.svgrepo.com/show/439578/check-blank.svg");
    width: 1.2em;
    aspect-ratio: 1/1;
    background-size: contain;
    background-position: center;
    border: none;
}

#save {
    font-size: 1.1em;
    color: white;
    padding: 10px 30px;
    margin: 50px auto;
    border: none;
    border-radius: 10px;
    background-color: tomato;
}

#save:hover {
    cursor: pointer;
}