body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

#game-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr auto;
    gap: 10px;
    width: 70%;
    height: 60%;
    background-color: #0960B0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    position: relative; /* 게임 컨테이너를 기준으로 절대 위치 지정 */
}

#map-container {
    background-color: gray;
    width: calc(100% - 60px);
    border-radius: 5%;
    padding: 10px;
    border: solid 10px black;
}

#controls {
    background-color: #00A0E8;
    font-size: 13px;
    position: absolute; 
    top: 20px; 
    right: 20px;
    padding: 10px;
    border-radius: 5px;
}

#btn-regame {
    grid-column: 1 / span 2;
    text-align: center;
    padding: 10px;
    background-color:#FFAD0F;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    top: 20px;
    right: 20px; 
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.row {
    display: flex;
    justify-content: center;
}

.cell {
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

#btn-regame:hover {
    background-color: #FFAD0F;
}
